body {
  background-color: transparent;
}
#card {
  width: clamp(
    250px,
    90vw,
    600px
  ); 
  height: clamp(
    330px,
    70vh,
    680px
  );
  background: #3E5C76;
  border-radius: 12px;
  margin: auto;
  overflow: auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 1; 
}
/* Container and Gradients */
.mcontainer {
  margin: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
}
