@import "tailwindcss";

:root{
  --border-green-400:rgb(255,255,255);
}

@font-face {
  font-family: "Rogan";
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.cdnfonts.com/s/107509/Rogan-ExtraBold-BF654c4a9347341.woff") format("woff");
}

body {
  font-family: "Rogan", sans-serif;
}

